body {
    width: 350px; height: 200px; margin: 0;
}
#brand {
    display: flex; justify-content: center; color: #FE4F55;
    margin: 0; padding: 10px; font-size: 15px;
    border-bottom: 1px solid #dcdcdc;
}
.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 40px;
    height: 18px;
    background-color: #e6e6e6;
    border-radius: 20px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}
.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 14px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}
.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
    width: 25px;
    transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
.form-switch input { display: none; }
.form-switch input:checked + i { background-color: #4BD763; }
.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }


.item {
    padding: 10px 25px;
    width: 100%;
}
.title {
    display: inline-block;
    font-size: 13px;
}
.check-box {
    float: right;
    margin-right: 40px;
}
#footer {
    border-top: 1px solid #dcdcdc;
    text-align: center;
    padding: 10px;
}